<div class="ui three column stackable grid">
    <div class="column">
        <div class="ui raised segment">
            <div class="ui placeholder">
                <div *ngIf="header" class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="paragraph">
                    <div *appRepeatTemplate="lines" class="medium line"></div>
                </div>
            </div>
        </div>
    </div>
</div>