<app-divider>Table Component</app-divider>

<button (click)="changeFirstItem()">Change first Item</button>

<button (click)="DestroyFirstItem()">destroy first Item</button>

<app-table [data]="data" [headers]="headers" [className]="'celled'"></app-table>
<!-- <app-table  *ngFor="let item of data" [data]="item" [name]="item.name" [headers]="headers" [className]="'basic'"></app-table> -->

<app-divider>Tab Component</app-divider>

<app-tabs>
    <!-- localhost:4200/collections/ -->
    <a [routerLink]="['./']" [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" class="item">Bio</a>
    <!-- localhost:4200/collections/companies -->
    <a [routerLink]="['companies']" routerLinkActive="active" class="item">Companies</a>
    <a routerLink="partners" routerLinkActive="active" class="item">Partners</a>
</app-tabs>